LOCATE COMP "clk_12m" SITE "C8" ;
LOCATE COMP "rst_l" SITE "B3" ;
LOCATE COMP "out_vga_b" SITE "D6" ;
LOCATE COMP "out_vga_ck" SITE "B9" ;
LOCATE COMP "out_vga_de" SITE "F7" ;
LOCATE COMP "out_vga_g" SITE "C7" ;
LOCATE COMP "out_vga_hs" SITE "C4" ;
LOCATE COMP "out_vga_r" SITE "D8" ;
LOCATE COMP "out_vga_vs" SITE "E9" ;
IOBUF PORT "out_vga_vs" IO_TYPE=LVCMOS33 SLEWRATE=FAST HYSTERESIS=NA DRIVE=8 PULLMODE=DOWN ;
IOBUF PORT "out_vga_r" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "out_vga_hs" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "out_vga_g" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "out_vga_de" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "out_vga_ck" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "out_vga_b" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "rst_l" IO_TYPE=LVCMOS33 DRIVE=NA ;
IOBUF PORT "clk_12m" IO_TYPE=LVCMOS33 ;
SYSCONFIG MCCLK_FREQ=13.3 MASTER_SPI_PORT=DISABLE CONFIGURATION=CFG ;
LOCATE COMP "led[7]" SITE "P16" ;
LOCATE COMP "led[6]" SITE "N15" ;
LOCATE COMP "led[5]" SITE "L13" ;
LOCATE COMP "led[4]" SITE "K11" ;
LOCATE COMP "led[3]" SITE "L12" ;
LOCATE COMP "led[2]" SITE "J11" ;
LOCATE COMP "led[1]" SITE "J13" ;
LOCATE COMP "led[0]" SITE "H11" ;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 ;
